- content_for :title do 
	Coursego
	\|
	Online Courses - Learn Anything On Your Schedule



-# Comment Test - Note the below shows a nested under H1. H1 will be applied to both of these, based on the indentation.
-# I will need to be very careful, then, with my indents
.jumbotron
	.display-4
		What do you want to learn today?

	.p-4

	- if current_user
		= search_form_for @ransack_courses, as: :courses_search, url: courses_path do |f|
			.input-group
				= f.search_field :title_cont, class: 'form-control-sm', style: 'float: left; width: 150px; ', placeholder: 'Find a course', :autocomplete => :off
				%span.input-group-append
					%button.btn.btn-primary.btn-sm{:type => "submit"}
						%span.fa.fa-search{"aria-hidden" => "true"}


.card-group
	.card.card-body
		%h1
			.fa.fa-graduation-cap
		= Course.count
		online courses
		.row
		Explore a variety of fresh topics
	.card.card-body
		%h1
			.fa.fa-chalkboard-teacher
			/.fa.fa-brain
		= Course.distinct.count(:user_id)
		expert instructors
		.row
		Find the right instructor for you
	.card.card-body
		%h1
			.fa.fa-user-graduate
		= User.count
		active learners
		.row
		Join the knowledge sharing community
	.card.card-body
		%h1
			.fa.fa-infinity
		Lifetime access
		.row
		Learn on your schedule




%hr
%h2
	.fa.fa-user-graduate
	Contine Learning
.card-columns
	- @purchased_courses.each do |course|
		= render 'courses/course', course: course

%hr
%h2
	.fa.fa-chart-line
	Popular Courses
.card-columns
	- @popular_courses.each do |course|
		= render 'courses/course', course: course
%hr
%h2
	.fa.fa-star
	Top Rated Courses
.card-columns
	- @top_rated_courses.each do |course|
		= render 'courses/course', course: course
%hr
%h2
	.fa.fa-clock
	Most Recent Courses
.card-columns
	- @latest_courses.each do |course|
		= render 'courses/course', course: course

%hr
%h2
	Students Talk
	.fa.fa-clock
.card-columns
	- @latest_reviews.each do |enrollment|
		= render 'enrollments/enrollment', enrollment: enrollment

