%p#notice=notice

= link_to 'Courses', courses_path
\/
= link_to @lesson.course.title ,courses_path(@course)
\/
= link_to @lesson.title ,lesson_path(@lesson)
.row
  .col-lg-6
    = render 'lessons/lesson', lesson: @lesson

= link_to 'Edit', edit_lesson_path(@lesson)
\|
= link_to 'Back to Course', course_path(@lesson.course)
