!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    /%title Historygo
    /Above me is an example of a static title.
    %title
      =content_for?(:title) ? yield(:title) : "Coursego"
    /What happens above, presumably, is that the yield title (i.e. the page name) is passed to the title here.
    /Code must exist in each of the pages for this to function properly.  
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %meta{:content => "no-cache", :name => "turbolinks-cache-control"}/
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    = render 'shared/navbar'
    = render 'shared/messages'
    .container
      %br
      = yield
    %br
    = render 'shared/footer'
